<div>
  <app-header/>
  <div [ngStyle]="myStyle" class="p-10">
    <h1 class="p-3 text-center m-0 text-white text-4xl">Shopping cart</h1>

    <mat-grid-list cols="4" gutterSize="16px" rowHeight="100px">
      <!-- Example grid tiles -->
      <mat-grid-tile
        [colspan]="2"
        [rowspan]="2"
        style="background: rgba(255,255,255,0.9)">
        <content-left/>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        style="background: rgba(255,255,255,0.9)">
        Tile 2 (2x1)
      </mat-grid-tile>

      <!-- <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        style="background: rgba(255,255,255,0.9)">
        Tile 3 (1x1)
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        style="background: rgba(255,255,255,0.9)">
        Tile 4 (1x1)
      </mat-grid-tile> -->

      <mat-grid-tile
        [colspan]="4"
        [rowspan]="1"
        style="background: rgba(255,255,255,0.9)">
        Tile 5 (Full width)
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
